<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491675470451-82p699anpe4fi40iepkq7tarrg1d4oi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491675470451-82p699anpe4fi40iepkq7tarrg1d4oi7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491675470451-4e6pluj2fdmjp37p61qi27q540hmj4cn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrEtXrYuZwcyw8Wfv3FfaQPHHP9V6VIXY</string>
	<key>GCM_SENDER_ID</key>
	<string>491675470451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arjh.bazaarstore</string>
	<key>PROJECT_ID</key>
	<string>bazaar-8dfa8</string>
	<key>STORAGE_BUCKET</key>
	<string>bazaar-8dfa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491675470451:ios:43befed7445c71c35c3806</string>
</dict>
</plist>